--only-binary=pillow,numpy
pillow==12.2.0
numpy==2.4.6
langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.31
langchain-openai==0.0.8
langchain-text-splitters==0.0.2
streamlit==1.32.1
